<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.homeland.android.homeland">

    <application
        android:name=".utils.ApplicationBase"
        android:allowBackup="true"
        android:icon="@drawable/homeland_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/homeland_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".DetailsActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.HomelandWidgetProvider"
            android:label="CollectionAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="me.indiandollar.apps.todoappcollectionwidget.app.ACTION_DATA_UPDATED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/homeland_widget_provider_info" />
        </receiver>

        <service
            android:name=".widget.WidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:name=".data.DataProvider"
            android:authorities="@string/content_authority"
            android:exported="false" />
    </application>

</manifest>